
agm-map{
  height: 600px;
}
.autocomplete-container {
  padding: 1rem 0 1rem 0;
  width: 50%;
}

::ng-deep .mat-form-field-required-marker {
  display: none;
}

#remember {
  padding: 10px 60px 10px;
}

#solicitar {
  margin: 10px 10px 10px;
}

.gif-scanner {
  background: url("../../assets/img/gifhouse.gif") center center no-repeat;
  background-size: cover;
  color: #fff;
  position: relative;
  width: 100%;
  text-shadow: 2px 0 0 #000000, -2px 0 0 #000000, 0 2px 0 #030000, 0 -2px 0 #000000, 0px 0px #fff, -0px -0px 0 #fff, 0px -0px 0 #fff, -0px 0px 0 #fff;
}

#instructions {
 font-size: 18px;
}

.titleline {
  border-top: 3px solid rgb(177, 177, 177);
}
mat-google-maps-autocomplete ::ng-deep input {
  height: 43.4375px;
  border-bottom-width: 0.994318px;
  border-left-width: 0.994318px;
  border-right-width: 0.994318px;
  border-top-width: 0.994318px;
  box-sizing: border-box;
  color: rgb(68, 74, 80);
  font-family: Lato, sans-serif;
  font-size: 14px;
  font-stretch: 100%;
  font-style: normal;
  font-variant-caps: normal;
  font-variant-east-asian: normal;
  font-variant-ligatures: normal;
  font-variant-numeric: normal;
  letter-spacing: normal;
  line-height: 26px;
  padding-bottom: 6px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;

}
