<div class="hero">
    <section class="featured-bg section-padding hero2">
        <div class="container">
            <div class="row">
                <div class="col-12 d-flex flex-column align-items-center">
                    <div class="section-title-header text-center d-flex flex-column align-items-center">
                        <h1 style="font-size: 32px; font-weight: bolder; color: #fff;">Bienvenido a VisitUrRoom! </h1>
                    </div>
                    <div class="col-lg-10" style="font-size: 19px; margin-bottom: 10px; line-height: 28px; color: #fff; text-align: center;">Realiza tus negocios inmobiliarios con nosotros sacando provecho a las últimas tecnologías en visualización para que puedas mostrar tu inmueble a todas las personas en cualquier lugar del mundo. </div>
                </div>
            </div>
        </div>
    </section>
</div>

<section class="section-padding">
    <div class="container">
        <div class="row d-flex justify-content-around  flex-wrap-reverse flex-wrap-lg">
            <div class="col-md-12 col-lg-6 col-xs-12 d-flex justify-content-center align-items-center mt-3 mt-lg-0">
                <h3 class="text-center text-lg-left" style="font-size: 18px; margin-bottom: 5px; line-height: 28px;">Gestiona las visitas desde tu casa permitiendo que todos los potenciales compradores puedan observar, desde la comodidad de su hogar, su futuro inmueble, oficina, habitación, etc.</h3>
                <!-- <img class="m-auto" style="height: 100px;" src="../../assets/img/business/premium.svg" alt=""> -->
            </div>
            <div class="col-md-12 col-lg-6 col-xs-12 d-flex justify-content-center align-items-center">
                <img class="m-auto" style="height: 300px; min-height: 200px;" src="../../assets/img/business/casa.jpg" alt="">
            </div>
        </div>
    </div>
</section>

<section class="featured-bg section-padding">
    <div class="container">
        <div class="row d-flex justify-content-around">
            <div class="col-md-12 col-lg-6 col-xs-12 d-flex justify-content-center align-items-center">
                <iframe  width="465" height="300" src="https://my.matterport.com/show/?m=xJubmcMvYiG&play=1" frameborder="0" allowfullscreen allow="xr-spatial-tracking"></iframe>
            </div>
            <div class="col-md-12 col-lg-6 col-xs-12 d-flex justify-content-center align-items-center mt-3 mt-lg-0">
                <h3 class="text-center text-lg-right" style="font-size: 18px; margin-bottom: 5px; line-height: 28px;">Realiza escaneos 3D de tu propiedad para observar cada rincón, medir con la herramienta integrada como planeas acomodar tus muebles, gestionar tu mudanza, todo 24/7 sin necesidad de agendar visitas a tus clientes.</h3>
            </div>
        </div>
    </div>
</section>

<section class="section-padding">
    <div class="container">
        <div class="row d-flex justify-content-around  flex-wrap-reverse flex-wrap-lg">
            <div class="col-md-12 col-lg-6 col-xs-12 d-flex flex-column justify-content-center align-items-center mt-3 mt-lg-0">
                <div class="d-flex justify-content-around mt-3 mt-lg-0">
                    <img class="m-3" style="height: 100px;" src="../../assets/img/business/money.svg" alt="">
                    <img class="m-3" style="height: 100px;" src="../../assets/img/business/Website.svg" alt="">
                </div>
                <div class="text-center text-lg-left mt-5" style="font-size: 18px; margin-bottom: 5px; line-height: 28px;">Paga tu mensualidad con nosotros para mantener tus inmuebles gestionados en la aplicación, enviar tu escaneo a los clientes que quieras.</div>
            </div>
            <div class="col-md-12 col-lg-6 col-xs-12 d-flex justify-content-center align-items-center">
                <img class="m-auto" style="height: 300px; min-height: 200px;" src="../../assets/img/business/casa-playa2.jpg" alt="">
            </div>
        </div>
    </div>
</section>

<section class="featured-bg section-padding">
    <div class="container">
        <div class="row d-flex justify-content-evenly">
            <div class="col-md-12 col-lg-6 col-xs-12 d-flex justify-content-center align-items-center">
                <img class="m-auto" style="height: 300px; min-height: 200px;" src="../../assets/img/business/apartamento.jpg" alt="">
            </div>
            <div class="col-md-12 col-lg-6 col-xs-12 d-flex flex-column justify-content-center align-items-center mt-3 mt-lg-0">
                <img class="m-auto" style="height: 100px;" src="../../assets/img/business/premium.svg" alt="">
                <div class="text-center mt-5" style="font-size: 18px; margin-bottom: 5px; line-height: 28px;">Entra a nuestro paquete premium y permítenos aumentar la visibilidad de tus propiedades inmobiliarias en venta o arriendo. Gestionaremos todos tus documentos legales y los contratos necesarios, brindando tu confianza en nosotros para que vendamos lo mas pronto posible tu propiedad.</div>
            </div>
        </div>
    </div>
</section>

<section class="section-padding">
    <div class="container">
        <div class="row d-flex justify-content-around  flex-wrap-reverse flex-wrap-lg">
            <div class="col-md-12 col-lg-5 col-xs-12 d-flex flex-column justify-content-center align-items-center mt-3 mt-lg-0">
                <img class="m-auto" style="height: 100px;" src="../../assets/img/business/documentation.svg" alt="">
                <div class="text-center text-lg-left mt-5" style="font-size: 18px; margin-bottom: 5px; line-height: 28px;">Con tu paquete premium inmobiliario estaremos al pendiente de todos los documentos legales para la gestión y correcta venta de tu inmueble.</div>
            </div>
            <div class="col-md-12 col-lg-5 col-xs-12 d-flex justify-content-center align-items-center">
                <img class="m-auto" style="height: 300px; min-height: 200px;" src="../../assets/img/business/apartamento2.jpg" alt="">
            </div>
        </div>
    </div>
</section>