<section id="google-map-area" xmlns="http://www.w3.org/1999/html">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div id="conatiner-map">
          <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [styles]="styles" [clickableIcons]="false" [fitBounds]="true">
            <agm-marker *ngFor="let room of rooms" [latitude]="room.lat" [longitude]="room.lng" [agmFitBounds]="true" [visible]="true"
                        [iconUrl]="'../assets/img/AptMarker.svg'"
            >\
              <agm-info-window [disableAutoPan]="false">
                <p><b (click)="onOpenModal(room, 'know')" data-original-title="know">{{room.price | currency:"":"symbol"}}</b></p>
              </agm-info-window>
            </agm-marker>
          </agm-map>
        </div>
      </div>
    </div>
  </div>
</section>


<div class="main-container section-padding" id="main-container">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-sm-12 col-xs-12">

        <div class="product-filter">

          <div class="sort-by">
            <span>Sort by:</span>
            <div class="sort-by-select">
              <select class="classic">
                <option>Default Order</option>
                <option>Price Low to High</option>
                <option>Price High to Low</option>
                <option>Newest Properties</option>
                <option>Oldest Properties</option>
              </select>
            </div>
          </div>

          <div class="layout-switcher">
            <a href="#" class="list active">
              <i class="lni-menu"></i>
            </a>
            <a href="#" class="grid">
              <i class="lni-grid"></i>
            </a>
          </div>
        </div>


        <div *ngFor="let room of rooms" class="listing-container list-layout" (click)="onOpenModal(room, 'know')" data-original-title="know">
          <div class="property-main">
            <div class="property-wrap">
              <div class="property-item">
                <div class="item-thumb">
                  <a class="hover-effect">
<!--                    <img class="img-fluid" src="{{room?.image}}" alt="">-->
                    <iframe  width="315" height="200" [src]="room?.image | safeUrl" frameborder="0" allowfullscreen allow="xr-spatial-tracking"></iframe>
                  </a>
                  <div class="label-inner">
                    <span class="label-status label bg-red">{{room?.tipo}}</span>                  </div>
                </div>
                <div class="item-body">
                  <h3 class="property-title" (click)="onOpenModal(room, 'know')" data-original-title="know"><a id="gridTitle"> {{room?.title}}</a></h3>
                  <div class="adderess"><i class="lni-map-marker"></i> {{room?.direccion}}</div>
                  <div class="pricin-list">
                    <div class="property-price">
                      <span>{{room?.price | currency:"":"symbol"}}</span>
                    </div>
                    <p><span>A.{{room?.area}}</span> mts <span>S.{{room?.superficie}}</span>mts<span></span></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="pagination-container">
          <nav>
            <ul class="pagination">
              <li class="page-item"><a class="btn btn-common" href="#"><i class="lni-chevron-left"></i> Previous </a></li>
              <li class="page-item"><a class="page-link" href="#">1</a></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item"><a class="btn btn-common" href="#">Next <i class="lni-chevron-right"></i></a></li>
            </ul>
          </nav>
        </div>
      </div>

      <!-- Conoce más room Modal -->
      <div  class="modal fade" id="knowRoom" tabindex="-1" aria-labelledby="knowRoomModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="knowModelLabel">Conoce Más</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <ul class="list-group list-group-flush">
<!--                <a href=""><img src="{{knowRoom?.image}}" alt="" class="img-fluid"></a>-->
                <iframe  width="465" height="300" [src]="knowRoom?.image | safeUrl" frameborder="0" allowfullscreen allow="xr-spatial-tracking"></iframe>

                <li class="list-group-item"><i class="fa fa-user float-right"></i>Nombre : {{knowRoom?.title}}</li>
                <li class="list-group-item"><i class="fa fa-user float-right"></i>Tipo : En {{knowRoom?.tipo}}</li>
                <li class="list-group-item"><i class="fa fa-map-marker float-right"></i>Ubicación : {{knowRoom?.direccion}}</li>
                <li class="list-group-item"><i class="fa fa-money float-right"></i>Valor: {{knowRoom?.price | currency:"":"symbol"}}</li>
                <li class="list-group-item"><i class="fa fa-phone float-right"></i>Area total : {{knowRoom?.superficie}}</li>
                <li class="list-group-item"><i class="fa fa-book float-right"></i>Descripción : {{knowRoom?.desctription}}</li>
                <li class="list-group-item text-center">
                <a class="btn btn-outline-success" href="https://wa.me/57{{knowRoom?.ownerUser.phone}}?text=Estoy%20interesado%20en%20tu%20publicacion" target="_blank">
                  <i class="fa fa-whatsapp fa-2x" aria-hidden="true">
                  </i> Contacta al vendedor</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-12 col-xs-12">

        <div class="sidebar sticky right">

          <div class="widget">
            <h3 class="sidebar-title">Busca algo nuevo</h3>
            <form class="form-inline my-2 my-lg-0">
              <input type="search" (ngModelChange)="searchRooms(key.value)" #key="ngModel" ngModel
              name="key" id="searchName" class="form-control mr-sm-2" placeholder="Buscar..." required>
           </form>
          </div>

        </div>

      </div>
    </div>
  </div>
</div>
