<section id="intro" class="section-intro d-flex align-items-end">
  <div class="search-container">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h4 class="intro-sub-heading mx-5">Recuerda que puedes solicitar el escaneo de tu casa o apartamento para obtener mejores visitas!</h4>
          <!-- <h2 class="intro-title">Recuerda que puedes solicitar el escaneo de tu casa o apartamento para obtener mejores visitas</h2> -->
          <a href="https://rebrand.ly/estatebit-purchase" rel="nofollow" target="_blank" class="btn btn-common btn-lg">SOLICITAR</a>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Intro Section Start -->
<div class="search-container">
  <div style="height: 80px; z-index: -100; position: absolute; top: -80px;"  id=""></div>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-title-header text-center">
          <h2 class="section-title">Las mejores propiedades</h2>
        </div>
      </div>
    </div>
    <div class="content">
      <div class="row">
        <div class="col-lg-3 col-md-6 col-xs-12">
          <div class="search-category-container">
            <label class="styled-select">
              <select class="classic">
                <option>Arriendo / Venta</option>
                <option>Arriendo (12)</option>
                <option>Venta (17)</option>
              </select>
            </label>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-xs-12">
          <div class="search-category-container">
            <label class="styled-select">
              <select class="classic">
                <option>Todos los Inmuebles</option>
                <option>Apartamentos (3)</option>
                <option>Apartaestudios (4)</option>
                <option>Casas (2)</option>
                <option>Condominios (1)</option>
                <option>Edificios (2)</option>
                <option>Fincas (2)</option>                              
                <option>Oficinas (1)</option>
              </select>
            </label>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-xs-12">
          <div class="search-category-container">
            <label class="styled-select">
              <select class="classic">
                <option>Bogotá</option>
              </select>
            </label>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-xs-12">
          <div class="text-right btn-section">
            <button type="button" class="btn btn-common"><i class="lni-search"></i> Buscar</button>
          </div>
        </div>
      </div>
      <div class="row range-slider option-hide" style="display: none;">
        <div class="col-lg-3 col-md-6 col-xs-12">
          <div class="search-category-container">
            <label class="styled-select">
              <select class="classic">
                <option>Todas las localidades</option>
                <option>Antonio Nariño</option>
                <option>Barrios Unidos</option>
                <option>Bosa</option>
                <option>Candelaria</option>
                <option>Chapinero</option>
                <option>Ciudad Bolívar</option>
                <option>Engativá</option>
                <option>Fontibón</option>
                <option>Kennedy</option>
                <option>Los Mártires</option>
                <option>Puente Aranda</option>
                <option>Rafael Uribe Uribe</option>
                <option>San Cristóbal</option>
                <option>Santa Fé</option>
                <option>Suba</option>
                <option>Sumapaz</option>
                <option>Teusaquillo</option>
                <option>Tunjuelito</option>
                <option>Usaquén</option>
                <option>Usme</option>
              </select>
            </label>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-xs-12">
            <!-- <div class="search-category-container">
              <label class="styled-select">
                <select class="classic">
                  <option></option>
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                  <option>6</option>
                  <option>7</option>                              
                  <option>8</option>
                </select>
              </label>
            </div> -->
          </div>
        <div class="col-lg-6 col-md-12 col-xs-12">
          <!-- Page contents -->
          <input type="text" id="range" value="" name="range" />
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 text-left">
          <a href="#" class="show-options"> Más opciones</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Intro Section End -->

<!-- Property Section Start
<section class="property section-padding">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-title-header text-center">
          <h2 class="section-title">Popular Listings</h2>
          <p>Duis aute irure dolor in reprehed in volupted velit esse dolore</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6 col-xs-12">
        <div class="property-main">
          <div class="property-wrap">
            <div class="property-item">
              <div class="item-thumb">
                <a class="hover-effect" href="property.html">
                  <img class="img-fluid" src="assets/img/property/house-1.jpg" alt="">
                </a>
                <div class="label-inner">
                  <span class="label-status label bg-red">For Sale</span>
                </div>
              </div>
              <div class="item-body">
                <h3 class="property-title"><a href="property.html">Amazing oceanfront apartment</a></h3>
                <div class="adderess"><i class="lni-map-marker"></i> Drive Street, Los Angeles, US</div>
                <div class="pricin-list">
                  <div class="property-price">
                    <span>$1,500</span>
                  </div>
                 <p><span>4 bds</span> . <span>4 ba</span> . <span>2500 Sqft</span></p>
                </div>
              </div>               
            </div>              
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-xs-12">
        <div class="property-main">
          <div class="property-wrap">
            <div class="property-item">
              <div class="item-thumb">
                <a class="hover-effect" href="property.html">
                  <img class="img-fluid" src="assets/img/property/house-2.jpg" alt="">
                </a>
                <div class="label-inner">
                  <span class="label-status label">For Rent</span>
                </div>
              </div>
              <div class="item-body">
                <h3 class="property-title"><a href="property.html">Family Condo</a></h3>
                <div class="adderess"><i class="lni-map-marker"></i> Louis, Missouri, US</div>
                <div class="pricin-list">
                  <div class="property-price">
                    <span>$27,00</span>
                  </div>
                 <p><span>6 bds</span> . <span>8 ba</span> . <span>2600 Sqft</span></p>
                </div>
              </div>               
            </div>              
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-xs-12">
        <div class="property-main">
          <div class="property-wrap">
            <div class="property-item">
              <div class="item-thumb">
                <a class="hover-effect" href="property.html">
                  <img class="img-fluid" src="assets/img/property/house-3.jpg" alt="">
                </a>
                <div class="label-inner">
                  <span class="label-status label bg-yellow">New</span>
                </div>
              </div>
              <div class="item-body">
                <h3 class="property-title"><a href="property.html">Guaranteed modern home</a></h3>
                <div class="adderess"><i class="lni-map-marker"></i> Avenue C, New York, US</div>
                <div class="pricin-list">
                  <div class="property-price">
                    <span>$1,750</span>
                  </div>
                 <p><span>8 bds</span> . <span>8 ba</span> . <span>3000 Sqft</span></p>
                </div>
              </div>               
            </div>              
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-xs-12">
        <div class="property-main">
          <div class="property-wrap">
            <div class="property-item">
              <div class="item-thumb">
                <a class="hover-effect" href="property.html">
                  <img class="img-fluid" src="assets/img/property/house-4.jpg" alt="">
                </a>
                <div class="label-inner">
                  <span class="label-status label">For Rent</span>
                </div>
              </div>
              <div class="item-body">
                <h3 class="property-title"><a href="property.html">Family home for sale</a></h3>
                <div class="adderess"><i class="lni-map-marker"></i> Sacramento, Chicago, US</div>
                <div class="pricin-list">
                  <div class="property-price">
                    <span>$1,400</span>
                  </div>
                 <p><span>2 bds</span> . <span>2 ba</span> . <span>2200 Sqft</span></p>
                </div>
              </div>               
            </div>              
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-xs-12">
        <div class="property-main">
          <div class="property-wrap">
            <div class="property-item">
              <div class="item-thumb">
                <a class="hover-effect" href="property.html">
                  <img class="img-fluid" src="assets/img/property/house-5.jpg" alt="">
                </a>
                <div class="label-inner">
                  <span class="label-status label bg-yellow">New</span>
                </div>
              </div>
              <div class="item-body">
                <h3 class="property-title"><a href="property.html">Amazing oceanfront apartment</a></h3>
                <div class="adderess"><i class="lni-map-marker"></i> 53 W 88th St, Dallas, US</div>
                <div class="pricin-list">
                  <div class="property-price">
                    <span>$1,750</span>
                  </div>
                 <p><span>6 bds</span> . <span>6 ba</span> . <span>2700 Sqft</span></p>
                </div>
              </div>               
            </div>              
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-xs-12">
        <div class="property-main">
          <div class="property-wrap">
            <div class="property-item">
              <div class="item-thumb">
                <a class="hover-effect" href="property.html">
                  <img class="img-fluid" src="assets/img/property/house-6.jpg" alt="">
                </a>
                <div class="label-inner">
                  <span class="label-status label bg-red">For Sale</span>
                </div>
              </div>
              <div class="item-body">
                <h3 class="property-title"><a href="property.html">Luxury home for sale</a></h3>
                <div class="adderess"><i class="lni-map-marker"></i> 365 Webber Street, Washington</div>
                <div class="pricin-list">
                  <div class="property-price">
                    <span>$1,800</span>
                  </div>
                 <p><span>5 bds</span> . <span>7 ba</span> . <span>2800 Sqft</span></p>
                </div>
              </div>               
            </div>              
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="text-center">
          <a href="listing.html" class="btn btn-common">Browse All</a>
        </div> 
      </div>  
    </div>
  </div>
</section>
<-- Property Section End -->

<!-- Team Section Start -->
<section id="team" class="section-padding text-center position-relative">
  <div style="height: 80px; z-index: -100; position: absolute; top: -80px;"  id="agents"></div>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-title-header text-center">
          <h2 class="section-title">Nuestros Agentes</h2>
          <p>Comunícate con nosotros para una atención personalizada</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-md-6 col-lg-4">
        <!-- Team Item Starts -->
        <div class="team-item text-center">
          <div class="team-img">
            <img class="img-fluid" src="assets/img/team/agente1.jpg" alt="">
            <div class="team-overlay">
              <div class="overlay-social-icon text-center">
                <ul class="social-icon-team">
                  <li><a href="https://www.facebook.com/" target="_blank"><i class="lni-facebook-filled" aria-hidden="true"></i></a></li>
                  <li><a href="https://www.twitter.com/" target="_blank"><i class="lni-twitter-filled" aria-hidden="true"></i></a></li>
                  <li><a href="https://www.instagram.com" target="_blank"><i class="lni-instagram-filled" aria-hidden="true"></i></a></li>
                  <li><a href="https://www.linkedin.com" target="_blank"><i class="lni-linkedin-filled" aria-hidden="true"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="info-text">
            <h3><a href="#">Harold Bartolo</a></h3>
            <p>Agente de bienes raíces</p>
          </div>
        </div>
        <!-- Team Item Ends -->
      </div>
      <div class="col-sm-6 col-md-6 col-lg-4">
        <!-- Team Item Starts -->
        <div class="team-item text-center">
          <div class="team-img">
            <img class="img-fluid" src="assets/img/team/agente2.jpg" alt="">
            <div class="team-overlay">
              <div class="overlay-social-icon text-center">
                <ul class="social-icon-team">
                  <li><a href="https://www.facebook.com/" target="_blank"><i class="lni-facebook-filled" aria-hidden="true"></i></a></li>
                  <li><a href="https://www.twitter.com/" target="_blank"><i class="lni-twitter-filled" aria-hidden="true"></i></a></li>
                  <li><a href="https://www.instagram.com" target="_blank"><i class="lni-instagram-filled" aria-hidden="true"></i></a></li>
                  <li><a href="https://www.linkedin.com" target="_blank"><i class="lni-linkedin-filled" aria-hidden="true"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="info-text">
            <h3><a href="#">Eduar Burgos</a></h3>
            <p>Agente de bienes raíces</p>
          </div>
        </div>
        <!-- Team Item Ends -->
      </div>

      <div class="col-sm-6 col-md-6 col-lg-4">
        <!-- Team Item Starts -->
        <div class="team-item text-center">
          <div class="team-img">
            <img class="img-fluid" src="assets/img/team/agente3.jpg" alt="">
            <div class="team-overlay">
              <div class="overlay-social-icon text-center">
                <ul class="social-icon-team">
                  <li><a href="https://www.facebook.com/" target="_blank"><i class="lni-facebook-filled" aria-hidden="true"></i></a></li>
                  <li><a href="https://www.twitter.com/" target="_blank"><i class="lni-twitter-filled" aria-hidden="true"></i></a></li>
                  <li><a href="https://www.instagram.com" target="_blank"><i class="lni-instagram-filled" aria-hidden="true"></i></a></li>
                  <li><a href="https://www.linkedin.com" target="_blank"><i class="lni-linkedin-filled" aria-hidden="true"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="info-text">
            <h3><a href="#">Sergio González</a></h3>
            <p>Agente de bienes raíces</p>
          </div>
        </div>
        <!-- Team Item Ends -->
      </div>

      <div class="col-sm-6 col-md-6 col-lg-4">
        <!-- Team Item Starts -->
        <div class="team-item text-center">
          <div class="team-img">
            <img class="img-fluid" src="assets/img/team/agente4.jpg" alt="">
            <div class="team-overlay">
              <div class="overlay-social-icon text-center">
                <ul class="social-icon-team">
                  <li><a href="https://www.facebook.com/" target="_blank"><i class="lni-facebook-filled" aria-hidden="true"></i></a></li>
                  <li><a href="https://www.twitter.com/" target="_blank"><i class="lni-twitter-filled" aria-hidden="true"></i></a></li>
                  <li><a href="https://www.instagram.com" target="_blank"><i class="lni-instagram-filled" aria-hidden="true"></i></a></li>
                  <li><a href="https://www.linkedin.com" target="_blank"><i class="lni-linkedin-filled" aria-hidden="true"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="info-text">
            <h3><a href="#">Carlos Jiménez</a></h3>
            <p>Agente de bienes raíces</p>
          </div>
        </div>
        <!-- Team Item Ends -->
      </div>

      <div class="col-sm-6 col-md-6 col-lg-4">
        <!-- Team Item Starts -->
        <div class="team-item text-center">
          <div class="team-img">
            <img class="img-fluid" src="assets/img/team/agente5.jpg" alt="">
            <div class="team-overlay">
              <div class="overlay-social-icon text-center">
                <ul class="social-icon-team">
                  <li><a href="https://www.facebook.com/" target="_blank"><i class="lni-facebook-filled" aria-hidden="true"></i></a></li>
                  <li><a href="https://www.twitter.com/" target="_blank"><i class="lni-twitter-filled" aria-hidden="true"></i></a></li>
                  <li><a href="https://www.instagram.com" target="_blank"><i class="lni-instagram-filled" aria-hidden="true"></i></a></li>
                  <li><a href="https://www.linkedin.com" target="_blank"><i class="lni-linkedin-filled" aria-hidden="true"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="info-text">
            <h3><a href="#">Fernando Moreno</a></h3>
            <p>Agente de bienes raíces</p>
          </div>
        </div>
        <!-- Team Item Ends -->
      </div>

      <div class="col-sm-6 col-md-6 col-lg-4">
        <!-- Team Item Starts -->
        <div class="team-item text-center">
          <div class="team-img">
            <img class="img-fluid" src="assets/img/team/agente6.jfif" alt="">
            <div class="team-overlay">
              <div class="overlay-social-icon text-center">
                <ul class="social-icon-team">
                  <li><a href="https://www.facebook.com/" target="_blank"><i class="lni-facebook-filled" aria-hidden="true"></i></a></li>
                  <li><a href="https://www.twitter.com/" target="_blank"><i class="lni-twitter-filled" aria-hidden="true"></i></a></li>
                  <li><a href="https://www.instagram.com" target="_blank"><i class="lni-instagram-filled" aria-hidden="true"></i></a></li>
                  <li><a href="https://www.linkedin.com" target="_blank"><i class="lni-linkedin-filled" aria-hidden="true"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="info-text">
            <h3><a href="#">Oscar Prieto</a></h3>
            <p>Agente de bienes raíces</p>
          </div>
        </div>
        <!-- Team Item Ends -->
      </div>
    </div>
  </div>
</section>
<!-- Team Section End -->

<!-- Services Section Start -->

<!-- Services Section End -->

<!-- Latest Property Start -->
<!-- <section class="latest-property section-padding">
  <div style="height: 80px; z-index: -100; position: absolute; top: -80px;"  id=""></div>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-title-header text-center">
          <h2 class="section-title">Latest Listings</h2>
          <p>Duis aute irure dolor in reprehed in volupted velit esse dolore</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 wow fadeIn" data-wow-delay="0.8s">
        <div id="latest-property" class="owl-carousel">
          <div class="item">
            <div class="property-main">
              <div class="property-wrap">
                <div class="property-item">
                  <div class="item-thumb">
                    <a class="hover-effect" href="property.html">
                      <img class="img-fluid" src="assets/img/property/house-1.jpg" alt="">
                    </a>
                    <div class="label-inner">
                      <span class="label-status label bg-red">For Sale</span>
                    </div>
                  </div>
                  <div class="item-body">
                    <h3 class="property-title"><a href="property.html">Amazing oceanfront apartment</a></h3>
                    <div class="adderess"><i class="lni-map-marker"></i> 96 Bay 10th St, Brooklyn, NY 11228</div>
                    <div class="pricin-list">
                      <div class="property-price">
                        <span>$1,600</span>
                      </div>
                     <p><span>4 bds</span> . <span>4 ba</span> . <span>2500 Sqft</span></p>
                    </div>
                  </div>               
                </div>              
              </div>
            </div>
          </div>
          <div class="item">
            <div class="property-main">
              <div class="property-wrap">
                <div class="property-item">
                  <div class="item-thumb">
                    <a class="hover-effect" href="property.html">
                      <img class="img-fluid" src="assets/img/property/house-2.jpg" alt="">
                    </a>
                    <div class="label-inner">
                      <span class="label-status label">For Rent</span>
                    </div>
                  </div>
                  <div class="item-body">
                    <h3 class="property-title"><a href="property.html">Family Condo</a></h3>
                    <div class="adderess"><i class="lni-map-marker"></i> Louis, Missouri, US</div>
                    <div class="pricin-list">
                      <div class="property-price">
                        <span>$1,700</span>
                      </div>
                      <p><span>8 bds</span> . <span>8 ba</span> . <span>2900 Sqft</span></p>
                    </div>
                  </div>               
                </div>              
              </div>
            </div>
          </div>
          <div class="item">
            <div class="property-main">
              <div class="property-wrap">
                <div class="property-item">
                  <div class="item-thumb">
                    <a class="hover-effect" href="property.html">
                      <img class="img-fluid" src="assets/img/property/house-3.jpg" alt="">
                    </a>
                    <div class="label-inner">
                      <span class="label-status label bg-yellow">New</span>
                    </div>
                  </div>
                  <div class="item-body">
                    <h3 class="property-title"><a href="property.html">Guaranteed modern home</a></h3>
                    <div class="adderess"><i class="lni-map-marker"></i> Avenue C, New York, US</div>
                    <div class="pricin-list">
                      <div class="property-price">
                        <span>$1,750</span>
                      </div>
                      <p><span>5 bds</span> . <span>6 ba</span> . <span>2700 Sqft</span></p>
                    </div>
                  </div>               
                </div>              
              </div>
            </div>
          </div>
          <div class="item">
            <div class="property-main">
              <div class="property-wrap">
                <div class="property-item">
                  <div class="item-thumb">
                    <a class="hover-effect" href="property.html">
                      <img class="img-fluid" src="assets/img/property/house-4.jpg" alt="">
                    </a>
                    <div class="label-inner">
                      <span class="label-status label">For Rent</span>
                    </div>
                  </div>
                  <div class="item-body">
                    <h3 class="property-title"><a href="property.html">Family home for sale</a></h3>
                    <div class="adderess"><i class="lni-map-marker"></i> Sacramento, Chicago, US</div>
                    <div class="pricin-list">
                      <div class="property-price">
                        <span>$1,400</span>
                      </div>
                      <p><span>2 bds</span> . <span>2 ba</span> . <span>2200 Sqft</span></p>
                    </div>
                  </div>               
                </div>              
              </div>
            </div>
          </div>
          <div class="item">
            <div class="property-main">
              <div class="property-wrap">
                <div class="property-item">
                  <div class="item-thumb">
                    <a class="hover-effect" href="property.html">
                      <img class="img-fluid" src="assets/img/property/house-5.jpg" alt="">
                    </a>
                    <div class="label-inner">
                      <span class="label-status label bg-yellow">New</span>
                    </div>
                  </div>
                  <div class="item-body">
                    <h3 class="property-title"><a href="property.html">Amazing oceanfront apartment</a></h3>
                    <div class="adderess"><i class="lni-map-marker"></i> 53 W 88th St, Dallas, US</div>
                    <div class="pricin-list">
                      <div class="property-price">
                        <span>$1,750</span>
                      </div>
                      <p><span>6 bds</span> . <span>6 ba</span> . <span>2700 Sqft</span></p>
                    </div>
                  </div>               
                </div>              
              </div>
            </div>
          </div>
          <div class="item">
            <div class="property-main">
              <div class="property-wrap">
                <div class="property-item">
                  <div class="item-thumb">
                    <a class="hover-effect" href="property.html">
                      <img class="img-fluid" src="assets/img/property/house-6.jpg" alt="">
                    </a>
                    <div class="label-inner">
                      <span class="label-status label bg-red">For Sale</span>
                    </div>
                  </div>
                  <div class="item-body">
                    <h3 class="property-title"><a href="property.html">Luxury home for sale</a></h3>
                    <div class="adderess"><i class="lni-map-marker"></i> 365 Webber Street, Washington</div>
                    <div class="pricin-list">
                      <div class="property-price">
                        <span>$1,800</span>
                      </div>
                     <p><span>5 bds</span> . <span>7 ba</span> . <span>2800 Sqft</span></p>
                    </div>
                  </div>               
                </div>              
              </div>
            </div>
          </div>
        </div>
      </div> 
    </div>
  </div>
</section> -->
<!-- Latest Property End --> 


<!-- Featured Section Start -->
<section class="featured-bg section-padding position-relative">
  <div style="height: 80px; z-index: -100; position: absolute; top: -80px;"  id="about-us"></div>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-title-header text-center">
          <h2 class="section-title">Sobre nosotros</h2>
          <p>No desperdicies más tu tiempo en plataformas que no dan un aspecto real de tu inmueble.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-lg-6 col-xs-12">
        <img class="img-fluid" src="assets/img/about/about.png" alt="">
      </div>
      <div class="col-md-12 col-lg-6 col-xs-12">
        <h2 class="intro-title">Quiénes somos?</h2>
        <h3 class="title-sub">La plataforma que venderá <br>tu inmueble en tiempo récord!</h3>
        <p class="intro-desc">Utilizamos tecnología de punta para realizar la mejor publicidad a tus proyectos inmobiliarios, a partir de un escaneo 3D que dará una aproximación exacta del tamaño y el espacio, así como del estado del inmueble.
        </p>
        <div class="row">
          <div class="col-lg-6 col-md-12 col-xs-12">
            <div class="featured-item">
              <div class="icon">
                <i class="lni-medall"></i>
              </div>
              <h3><a href="#">Somos pioneros</a></h3>
              <div class="featured-content">
                <p>Siéntete como en casa sin salir de tu dispositivo, podrás ver todas las cualidades del proyecto que estés publicando.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-12 col-xs-12">
            <div class="featured-item">
              <div class="icon">
                <i class="lni-thumbs-up"></i>
              </div>
              <h3><a href="#">La mejor actitud</a></h3>
              <div class="featured-content">
                <p> Tenemos un equipo de expertos en publicidad y mercadeo, y utilizamos los mejores equipos para realizar el escaneo de tu propiedad.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Featured Section End -->
 
<section id="intro" class="section-end">
  <div class="search-container">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h4 class="intro-sub-heading">Entérate como funciona un escaner 3D!</h4>
          <h2 class="intro-title">Quieres publicar tu inmueble?</h2>
          <a href="/register" rel="nofollow" class="btn btn-danger btn-lg">Regístrate</a>
        </div>
      </div>
    </div>
  </div>
</section>



