<section id="intro" class="section-intro">
  <div class="search-container">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h4 class="intro-sub-heading">You are using Fre Lite Version!</h4>
          <h2 class="intro-title">Please, Make Purchase Full Version to Get All Pages and Features</h2>
          <a href="https://rebrand.ly/estatebit-purchase" rel="nofollow" target="_blank" class="btn btn-danger btn-lg">PURCHASE NOW</a>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Intro Section Start -->
<div class="search-container">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-title-header text-center">
          <h2 class="section-title">Search Properties</h2>
        </div>
      </div>
    </div>
    <div class="content">
      <div class="row">
        <div class="col-lg-3 col-md-6 col-xs-12">
          <div class="search-category-container">
            <label class="styled-select">
              <select class="classic">
                <option>All Actions</option>
                <option>Rentals (12)</option>
                <option>Sales (17)</option>
              </select>
            </label>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-xs-12">
          <div class="search-category-container">
            <label class="styled-select">
              <select class="classic">
                <option>All Types</option>
                <option>Apartments (3)</option>
                <option>Houses (2)</option>
                <option>Condos (1)</option>
                <option>Industrial (2)</option>
                <option>Land (3)</option>
                <option>Offices (1)</option>
                <option>Retail (2)</option>                              
                <option>Villas (1)</option>
              </select>
            </label>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-xs-12">
          <div class="search-category-container">
            <label class="styled-select">
              <select class="classic">
                <option>All Cities</option>
                <option>New York</option>
                <option>California</option>
                <option>Washington</option>
                <option>Chicago</option>
                <option>Phoenix</option>
                <option>Birmingham</option>
              </select>
            </label>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-xs-12">
          <div class="text-right btn-section">
            <button type="button" class="btn btn-common"><i class="lni-search"></i> Search</button>
          </div>
        </div>
      </div>
      <div class="row range-slider option-hide" style="display: none;">
        <div class="col-lg-3 col-md-6 col-xs-12">
          <div class="search-category-container">
            <label class="styled-select">
              <select class="classic">
                <option>All Area</option>
                <option>San Jose</option>
                <option>Salt Lake City</option>
                <option>Las Vegas</option>
                <option>Boston</option>
                <option>Tampa</option>
                <option>Orlando</option>
              </select>
            </label>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-xs-12">
            <div class="search-category-container">
              <label class="styled-select">
                <select class="classic">
                  <option>Bedrooms</option>
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                  <option>6</option>
                  <option>7</option>                              
                  <option>8</option>
                </select>
              </label>
            </div>
          </div>
        <div class="col-lg-6 col-md-12 col-xs-12">
          <!-- Page contents -->
          <input type="text" id="range" value="" name="range" />
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 text-left">
          <a href="#" class="show-options"> More options</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Intro Section End -->

<!-- Property Section Start -->
<section class="property section-padding">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-title-header text-center">
          <h2 class="section-title">Popular Listings</h2>
          <p>Duis aute irure dolor in reprehed in volupted velit esse dolore</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6 col-xs-12">
        <div class="property-main">
          <div class="property-wrap">
            <div class="property-item">
              <div class="item-thumb">
                <a class="hover-effect" href="property.html">
                  <img class="img-fluid" src="assets/img/property/house-1.jpg" alt="">
                </a>
                <div class="label-inner">
                  <span class="label-status label bg-red">For Sale</span>
                </div>
              </div>
              <div class="item-body">
                <h3 class="property-title"><a href="property.html">Amazing oceanfront apartment</a></h3>
                <div class="adderess"><i class="lni-map-marker"></i> Drive Street, Los Angeles, US</div>
                <div class="pricin-list">
                  <div class="property-price">
                    <span>$1,500</span>
                  </div>
                 <p><span>4 bds</span> . <span>4 ba</span> . <span>2500 Sqft</span></p>
                </div>
              </div>               
            </div>              
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-xs-12">
        <div class="property-main">
          <div class="property-wrap">
            <div class="property-item">
              <div class="item-thumb">
                <a class="hover-effect" href="property.html">
                  <img class="img-fluid" src="assets/img/property/house-2.jpg" alt="">
                </a>
                <div class="label-inner">
                  <span class="label-status label">For Rent</span>
                </div>
              </div>
              <div class="item-body">
                <h3 class="property-title"><a href="property.html">Family Condo</a></h3>
                <div class="adderess"><i class="lni-map-marker"></i> Louis, Missouri, US</div>
                <div class="pricin-list">
                  <div class="property-price">
                    <span>$27,00</span>
                  </div>
                 <p><span>6 bds</span> . <span>8 ba</span> . <span>2600 Sqft</span></p>
                </div>
              </div>               
            </div>              
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-xs-12">
        <div class="property-main">
          <div class="property-wrap">
            <div class="property-item">
              <div class="item-thumb">
                <a class="hover-effect" href="property.html">
                  <img class="img-fluid" src="assets/img/property/house-3.jpg" alt="">
                </a>
                <div class="label-inner">
                  <span class="label-status label bg-yellow">New</span>
                </div>
              </div>
              <div class="item-body">
                <h3 class="property-title"><a href="property.html">Guaranteed modern home</a></h3>
                <div class="adderess"><i class="lni-map-marker"></i> Avenue C, New York, US</div>
                <div class="pricin-list">
                  <div class="property-price">
                    <span>$1,750</span>
                  </div>
                 <p><span>8 bds</span> . <span>8 ba</span> . <span>3000 Sqft</span></p>
                </div>
              </div>               
            </div>              
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-xs-12">
        <div class="property-main">
          <div class="property-wrap">
            <div class="property-item">
              <div class="item-thumb">
                <a class="hover-effect" href="property.html">
                  <img class="img-fluid" src="assets/img/property/house-4.jpg" alt="">
                </a>
                <div class="label-inner">
                  <span class="label-status label">For Rent</span>
                </div>
              </div>
              <div class="item-body">
                <h3 class="property-title"><a href="property.html">Family home for sale</a></h3>
                <div class="adderess"><i class="lni-map-marker"></i> Sacramento, Chicago, US</div>
                <div class="pricin-list">
                  <div class="property-price">
                    <span>$1,400</span>
                  </div>
                 <p><span>2 bds</span> . <span>2 ba</span> . <span>2200 Sqft</span></p>
                </div>
              </div>               
            </div>              
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-xs-12">
        <div class="property-main">
          <div class="property-wrap">
            <div class="property-item">
              <div class="item-thumb">
                <a class="hover-effect" href="property.html">
                  <img class="img-fluid" src="assets/img/property/house-5.jpg" alt="">
                </a>
                <div class="label-inner">
                  <span class="label-status label bg-yellow">New</span>
                </div>
              </div>
              <div class="item-body">
                <h3 class="property-title"><a href="property.html">Amazing oceanfront apartment</a></h3>
                <div class="adderess"><i class="lni-map-marker"></i> 53 W 88th St, Dallas, US</div>
                <div class="pricin-list">
                  <div class="property-price">
                    <span>$1,750</span>
                  </div>
                 <p><span>6 bds</span> . <span>6 ba</span> . <span>2700 Sqft</span></p>
                </div>
              </div>               
            </div>              
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-xs-12">
        <div class="property-main">
          <div class="property-wrap">
            <div class="property-item">
              <div class="item-thumb">
                <a class="hover-effect" href="property.html">
                  <img class="img-fluid" src="assets/img/property/house-6.jpg" alt="">
                </a>
                <div class="label-inner">
                  <span class="label-status label bg-red">For Sale</span>
                </div>
              </div>
              <div class="item-body">
                <h3 class="property-title"><a href="property.html">Luxury home for sale</a></h3>
                <div class="adderess"><i class="lni-map-marker"></i> 365 Webber Street, Washington</div>
                <div class="pricin-list">
                  <div class="property-price">
                    <span>$1,800</span>
                  </div>
                 <p><span>5 bds</span> . <span>7 ba</span> . <span>2800 Sqft</span></p>
                </div>
              </div>               
            </div>              
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="text-center">
          <a href="listing.html" class="btn btn-common">Browse All</a>
        </div> 
      </div>  
    </div>
  </div>
</section>
<!-- Property Section End -->   

<!-- Team Section Start -->
<section id="team" class="section-padding text-center">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-title-header text-center">
          <h2 class="section-title">Our Agents</h2>
          <p>Duis aute irure dolor in reprehed in volupted velit esse dolore</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-md-6 col-lg-3">
        <!-- Team Item Starts -->
        <div class="team-item text-center">
          <div class="team-img">
            <img class="img-fluid" src="assets/img/team/team-01.jpg" alt="">
            <div class="team-overlay">
              <div class="overlay-social-icon text-center">
                <ul class="social-icon-team">
                  <li><a href="#"><i class="lni-facebook-filled" aria-hidden="true"></i></a></li>
                  <li><a href="#"><i class="lni-twitter-filled" aria-hidden="true"></i></a></li>
                  <li><a href="#"><i class="lni-instagram-filled" aria-hidden="true"></i></a></li>
                  <li><a href="#"><i class="lni-linkedin-filled" aria-hidden="true"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="info-text">
            <h3><a href="#">David Givens</a></h3>
            <p>Real Estate Agent</p>
          </div>
        </div>
        <!-- Team Item Ends -->
      </div>
      <div class="col-sm-6 col-md-6 col-lg-3">
        <!-- Team Item Starts -->
        <div class="team-item text-center">
          <div class="team-img">
            <img class="img-fluid" src="assets/img/team/team-02.jpg" alt="">
            <div class="team-overlay">
              <div class="overlay-social-icon text-center">
                <ul class="social-icon-team">
                  <li><a href="#"><i class="lni-facebook-filled" aria-hidden="true"></i></a></li>
                  <li><a href="#"><i class="lni-twitter-filled" aria-hidden="true"></i></a></li>
                  <li><a href="#"><i class="lni-instagram-filled" aria-hidden="true"></i></a></li>
                  <li><a href="#"><i class="lni-linkedin-filled" aria-hidden="true"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="info-text">
            <h3><a href="#">John Doe</a></h3>
            <p>Real Estate Agent</p>
          </div>
        </div>
        <!-- Team Item Ends -->
      </div>

      <div class="col-sm-6 col-md-6 col-lg-3">
        <!-- Team Item Starts -->
        <div class="team-item text-center">
          <div class="team-img">
            <img class="img-fluid" src="assets/img/team/team-03.jpg" alt="">
            <div class="team-overlay">
              <div class="overlay-social-icon text-center">
                <ul class="social-icon-team">
                  <li><a href="#"><i class="lni-facebook-filled" aria-hidden="true"></i></a></li>
                  <li><a href="#"><i class="lni-twitter-filled" aria-hidden="true"></i></a></li>
                  <li><a href="#"><i class="lni-instagram-filled" aria-hidden="true"></i></a></li>
                  <li><a href="#"><i class="lni-linkedin-filled" aria-hidden="true"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="info-text">
            <h3><a href="#">Darrell S.Allen</a></h3>
            <p>Real Estate Agent</p>
          </div>
        </div>
        <!-- Team Item Ends -->
      </div>

      <div class="col-sm-6 col-md-6 col-lg-3">
        <!-- Team Item Starts -->
        <div class="team-item text-center">
          <div class="team-img">
            <img class="img-fluid" src="assets/img/team/team-04.jpg" alt="">
            <div class="team-overlay">
              <div class="overlay-social-icon text-center">
                <ul class="social-icon-team">
                  <li><a href="#"><i class="lni-facebook-filled" aria-hidden="true"></i></a></li>
                  <li><a href="#"><i class="lni-twitter-filled" aria-hidden="true"></i></a></li>
                  <li><a href="#"><i class="lni-instagram-filled" aria-hidden="true"></i></a></li>
                  <li><a href="#"><i class="lni-linkedin-filled" aria-hidden="true"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="info-text">
            <h3><a href="#">Justyna Michallek</a></h3>
            <p>Real Estate Agent</p>
          </div>
        </div>
        <!-- Team Item Ends -->
      </div>
    </div>
  </div>
</section>
<!-- Team Section End -->

<!-- Services Section Start -->
<section class="services section-padding">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-title-header text-center">
          <h2 class="section-title">Common Features</h2>
          <p>Duis aute irure dolor in reprehed in volupted velit esse dolore</p>
        </div>
      </div>
    </div>
    <div class="row">
      <!-- Services item -->
      <div class="col-md-6 col-lg-4 col-xs-12">
        <div class="services-item wow fadeInRight" data-wow-delay="0.2s">
          <div class="icon">
            <i class="lni-apartment"></i>
          </div>
          <div class="services-content">
            <h3><a href="#">Full Furnished</a></h3>
            <p>Lorem must explain to you how all this mistaolt dete denouncing pleasure and pralsing plan wasnad</p>
          </div>
        </div>
      </div>
      <!-- Services item -->
      <div class="col-md-6 col-lg-4 col-xs-12">
        <div class="services-item wow fadeInRight" data-wow-delay="0.4s">
          <div class="icon">
            <i class="lni-crown"></i>
          </div>
          <div class="services-content">
            <h3><a href="#">Royal Touch Paint</a></h3>
            <p>Lorem must explain to you how all this mistaolt dete denouncing pleasure and pralsing plan wasnad</p>
          </div>
        </div>
      </div>
      <!-- Services item -->
      <div class="col-md-6 col-lg-4 col-xs-12">
        <div class="services-item wow fadeInRight" data-wow-delay="0.6s">
          <div class="icon">
            <i class="lni-layers"></i>
          </div>
          <div class="services-content">
            <h3><a href="#">Letest Interior Design</a></h3>
            <p>Lorem must explain to you how all this mistaolt dete denouncing pleasure and pralsing plan wasnad</p>
          </div>
        </div>
      </div>
      <!-- Services item -->
      <div class="col-md-6 col-lg-4 col-xs-12">
        <div class="services-item wow fadeInRight" data-wow-delay="0.8s">
          <div class="icon">
            <i class="lni-bolt-alt"></i>
          </div>
          <div class="services-content">
            <h3><a href="#">Non Stop Security</a></h3>
            <p>Lorem must explain to you how all this mistaolt dete denouncing pleasure and pralsing plan wasnad</p>
          </div>
        </div>
      </div>
       <!-- Services item -->
      <div class="col-md-6 col-lg-4 col-xs-12">
        <div class="services-item wow fadeInRight" data-wow-delay="1s">
          <div class="icon">
            <i class="lni-leaf"></i>
          </div>
          <div class="services-content">
            <h3><a href="#">Living Inside a Nature</a></h3>
            <p>Lorem must explain to you how all this mistaolt dete denouncing pleasure and pralsing plan wasnad</p>
          </div>
        </div>
      </div>
       <!-- Services item -->
      <div class="col-md-6 col-lg-4 col-xs-12">
        <div class="services-item wow fadeInRight" data-wow-delay="1.2s">
          <div class="icon">
            <i class="lni-medall"></i>
          </div>
          <div class="services-content">
            <h3><a href="#">Luxurious Fittings</a></h3>
            <p>Lorem must explain to you how all this mistaolt dete denouncing pleasure and pralsing plan wasnad</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Services Section End -->

<!-- Latest Property Start -->
<section class="latest-property section-padding">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-title-header text-center">
          <h2 class="section-title">Latest Listings</h2>
          <p>Duis aute irure dolor in reprehed in volupted velit esse dolore</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 wow fadeIn" data-wow-delay="0.8s">
        <div id="latest-property" class="owl-carousel">
          <div class="item">
            <div class="property-main">
              <div class="property-wrap">
                <div class="property-item">
                  <div class="item-thumb">
                    <a class="hover-effect" href="property.html">
                      <img class="img-fluid" src="assets/img/property/house-1.jpg" alt="">
                    </a>
                    <div class="label-inner">
                      <span class="label-status label bg-red">For Sale</span>
                    </div>
                  </div>
                  <div class="item-body">
                    <h3 class="property-title"><a href="property.html">Amazing oceanfront apartment</a></h3>
                    <div class="adderess"><i class="lni-map-marker"></i> 96 Bay 10th St, Brooklyn, NY 11228</div>
                    <div class="pricin-list">
                      <div class="property-price">
                        <span>$1,600</span>
                      </div>
                     <p><span>4 bds</span> . <span>4 ba</span> . <span>2500 Sqft</span></p>
                    </div>
                  </div>               
                </div>              
              </div>
            </div>
          </div>
          <div class="item">
            <div class="property-main">
              <div class="property-wrap">
                <div class="property-item">
                  <div class="item-thumb">
                    <a class="hover-effect" href="property.html">
                      <img class="img-fluid" src="assets/img/property/house-2.jpg" alt="">
                    </a>
                    <div class="label-inner">
                      <span class="label-status label">For Rent</span>
                    </div>
                  </div>
                  <div class="item-body">
                    <h3 class="property-title"><a href="property.html">Family Condo</a></h3>
                    <div class="adderess"><i class="lni-map-marker"></i> Louis, Missouri, US</div>
                    <div class="pricin-list">
                      <div class="property-price">
                        <span>$1,700</span>
                      </div>
                      <p><span>8 bds</span> . <span>8 ba</span> . <span>2900 Sqft</span></p>
                    </div>
                  </div>               
                </div>              
              </div>
            </div>
          </div>
          <div class="item">
            <div class="property-main">
              <div class="property-wrap">
                <div class="property-item">
                  <div class="item-thumb">
                    <a class="hover-effect" href="property.html">
                      <img class="img-fluid" src="assets/img/property/house-3.jpg" alt="">
                    </a>
                    <div class="label-inner">
                      <span class="label-status label bg-yellow">New</span>
                    </div>
                  </div>
                  <div class="item-body">
                    <h3 class="property-title"><a href="property.html">Guaranteed modern home</a></h3>
                    <div class="adderess"><i class="lni-map-marker"></i> Avenue C, New York, US</div>
                    <div class="pricin-list">
                      <div class="property-price">
                        <span>$1,750</span>
                      </div>
                      <p><span>5 bds</span> . <span>6 ba</span> . <span>2700 Sqft</span></p>
                    </div>
                  </div>               
                </div>              
              </div>
            </div>
          </div>
          <div class="item">
            <div class="property-main">
              <div class="property-wrap">
                <div class="property-item">
                  <div class="item-thumb">
                    <a class="hover-effect" href="property.html">
                      <img class="img-fluid" src="assets/img/property/house-4.jpg" alt="">
                    </a>
                    <div class="label-inner">
                      <span class="label-status label">For Rent</span>
                    </div>
                  </div>
                  <div class="item-body">
                    <h3 class="property-title"><a href="property.html">Family home for sale</a></h3>
                    <div class="adderess"><i class="lni-map-marker"></i> Sacramento, Chicago, US</div>
                    <div class="pricin-list">
                      <div class="property-price">
                        <span>$1,400</span>
                      </div>
                      <p><span>2 bds</span> . <span>2 ba</span> . <span>2200 Sqft</span></p>
                    </div>
                  </div>               
                </div>              
              </div>
            </div>
          </div>
          <div class="item">
            <div class="property-main">
              <div class="property-wrap">
                <div class="property-item">
                  <div class="item-thumb">
                    <a class="hover-effect" href="property.html">
                      <img class="img-fluid" src="assets/img/property/house-5.jpg" alt="">
                    </a>
                    <div class="label-inner">
                      <span class="label-status label bg-yellow">New</span>
                    </div>
                  </div>
                  <div class="item-body">
                    <h3 class="property-title"><a href="property.html">Amazing oceanfront apartment</a></h3>
                    <div class="adderess"><i class="lni-map-marker"></i> 53 W 88th St, Dallas, US</div>
                    <div class="pricin-list">
                      <div class="property-price">
                        <span>$1,750</span>
                      </div>
                      <p><span>6 bds</span> . <span>6 ba</span> . <span>2700 Sqft</span></p>
                    </div>
                  </div>               
                </div>              
              </div>
            </div>
          </div>
          <div class="item">
            <div class="property-main">
              <div class="property-wrap">
                <div class="property-item">
                  <div class="item-thumb">
                    <a class="hover-effect" href="property.html">
                      <img class="img-fluid" src="assets/img/property/house-6.jpg" alt="">
                    </a>
                    <div class="label-inner">
                      <span class="label-status label bg-red">For Sale</span>
                    </div>
                  </div>
                  <div class="item-body">
                    <h3 class="property-title"><a href="property.html">Luxury home for sale</a></h3>
                    <div class="adderess"><i class="lni-map-marker"></i> 365 Webber Street, Washington</div>
                    <div class="pricin-list">
                      <div class="property-price">
                        <span>$1,800</span>
                      </div>
                     <p><span>5 bds</span> . <span>7 ba</span> . <span>2800 Sqft</span></p>
                    </div>
                  </div>               
                </div>              
              </div>
            </div>
          </div>
        </div>
      </div> 
    </div>
  </div>
</section>
<!-- Latest Property End --> 


<!-- Featured Section Start -->
<section class="featured-bg section-padding">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-title-header text-center">
          <h2 class="section-title">About Us</h2>
          <p>Duis aute irure dolor in reprehed in volupted velit esse dolore</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-lg-6 col-xs-12">
        <img class="img-fluid" src="assets/img/about/img-2.jpg" alt="">
      </div>
      <div class="col-md-12 col-lg-6 col-xs-12">
        <h2 class="intro-title">Who We Are</h2>
        <h3 class="title-sub">Best and Award Winning <br>Real Estate Business in USA 2019</h3>
        <p class="intro-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit nostrum, doloremque quaerat sit tempora eius est reiciendis accusamus magnam quae. Explicabo dolore officia, iure a ullam aliquam nemo excepturi, repellat. uod ut delectus ad tempora.
        </p>
        <div class="row">
          <div class="col-lg-6 col-md-12 col-xs-12">
            <div class="featured-item">
              <div class="icon">
                <i class="lni-medall"></i>
              </div>
              <h3><a href="#">Cretified Company</a></h3>
              <div class="featured-content">
                <p>We'll generate a sitemap for your site, submit it to search engine is and track crawler access.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-12 col-xs-12">
            <div class="featured-item">
              <div class="icon">
                <i class="lni-thumbs-up"></i>
              </div>
              <h3><a href="#">Highly experienced</a></h3>
              <div class="featured-content">
                <p>We'll generate a sitemap for your site, submit it to search engine is and track crawler access.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Featured Section End -->
 

<!-- Counter Area Start-->
<section class="counter-section section-padding" data-stellar-background-ratio="0.5">
  <div class="container">
    <div class="row">
      <!-- Counter Item -->
      <div class="col-lg-3 col-md-6 col-xs-12 work-counter-widget text-center">
        <div class="counter">
          <div class="icon"><i class="lni-users"></i></div>
          <div class="counterUp">6252</div>
          <p>Happy Customers</p>
        </div>
      </div>
      <!-- Counter Item -->
      <div class="col-lg-3 col-md-6 col-xs-12 work-counter-widget text-center">
        <div class="counter">
          <div class="icon"><i class="lni-apartment"></i></div>
          <div class="counterUp">3091</div>
          <p>Completed Projects</p>
        </div>
      </div>
      <!-- Counter Item -->
      <div class="col-lg-3 col-md-6 col-xs-12 work-counter-widget text-center">
        <div class="counter">
          <div class="icon"><i class="lni-key"></i></div>
           <div class="counterUp">1200</div>
          <p>Property Sold</p>
        </div>
      </div>
      <!-- Counter Item -->
      <div class="col-lg-3 col-md-6 col-xs-12 work-counter-widget text-center">
        <div class="counter">
          <div class="icon"><i class="lni-cup"></i></div>
          <div class="counterUp">79</div>
          <p>Awards Win</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Counter Area End-->

<section id="intro" class="section-intro">
  <div class="search-container">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h4 class="intro-sub-heading">You are using Fre Lite Version!</h4>
          <h2 class="intro-title">Please, Make Purchase Full Version to Get All Pages and Features</h2>
          <a href="rebrand.ly/estatebit-purchase" rel="nofollow" class="btn btn-danger btn-lg">PURCHASE NOW</a>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Client Logo Section Start -->
<section id="clients-logo" class="section-padding">
  <div class="container">
    <div class="row">
      <div class="col-lg-2 col-md-4 col-xs-12">
        <div class="client-logo">
          <a href="#"><img class="img-fluid" src="assets/img/clients/img1.png" alt=""></a>
        </div>
      </div>
      <div class="col-lg-2 col-md-4 col-xs-12">
        <div class="client-logo">
          <a href="#"><img class="img-fluid" src="assets/img/clients/img2.png" alt=""></a>
        </div>
      </div>
      <div class="col-lg-2 col-md-4 col-xs-12">
        <div class="client-logo">
          <a href="#"><img class="img-fluid" src="assets/img/clients/img3.png" alt=""></a>
        </div>
      </div>
      <div class="col-lg-2 col-md-4 col-xs-12">
        <div class="client-logo">
          <a href="#"><img class="img-fluid" src="assets/img/clients/img4.png" alt=""></a>
        </div>
      </div>
      <div class="col-lg-2 col-md-4 col-xs-12">
        <div class="client-logo">
          <a href="#"><img class="img-fluid" src="assets/img/clients/img5.png" alt=""></a>
        </div>
      </div>
      <div class="col-lg-2 col-md-4 col-xs-12">
        <div class="client-logo">
          <a href="#"><img class="img-fluid" src="assets/img/clients/img6.png" alt=""></a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Cleint Logo Section End -->


